.body-container {
    display: flex;
    justify-content:space-around;
    align-items:center;

}

.computer-img {
    
    img {
        width: 600px;
        transform: scale(1);
        transition: all 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}